<!DOCTYPE html>
<html>
<head>
    <title>{{ hello_world }}</title>
    <link href="assets/css/helloworld.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<div id="content">
    {{ hello_world }}
</div>
</body>
</html>
